.Nav{
    background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
	}



.Inicio :hover{    
    background-color: #000000;
    border-radius: 45%;
    transition: 2s ;
}

.Inicio img{
    margin-left: 100px;
    height:120px;
    width: 120px;
}

.Agregar :hover{
    background-color: #f30000;
    color: white;
    border-radius:20%;
    height:120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ;

    
} 
.Agregar{
    margin-right:  100px;
    height:120px;
    width: 120px;
    border-radius:20%;
    text-decoration: none;
    background-color:transparent; 
    color: black; 
    border: 2px solid #f30000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Agregar h1{
    color: #000000;
    text-decoration: none;
}